<!DOCTYPE html>
<html ng-app='myapp'>

<head>
    <meta charset="utf-8">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    
    <link rel="stylesheet"type="text/css" href="style/style.css">
    
    <title>Voiture de luxe</title>
</head>

<body>
    <div class="container" ng-controller="voitureController">
        <h1>Voiture de LUXE</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Couleur</th>
                    <th>Type</th>
                    <th>Prix</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type='text' ng-model='voiture.nom' class="form-control">
                    </td>
                    <td>
                        <input type='text' ng-model='voiture.couleur' class="form-control">
                    </td>
                    <td>
                        <input type='text' ng-model='voiture.type' class="form-control">
                    </td>
                    <td>
                        <input type='text' ng-model='voiture.prix' class="form-control">
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="addVoiture()">Add Voiture</button>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="update()">Update </button>&nbsp &nbsp
                        <button type="button" class="btn btn-info" ng-click="deselect()">Clear</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="divimage col-md-3"ng-repeat='voiture in listvoiture'>
            {{voiture.nom}} 
            {{voiture.couleur}} 
            {{voiture.type}} 
            {{voiture.prix}}
            <img class="image"ng-src='images/{{voiture.image}}' />
            
                <button type="button" class="icon" ng-click="remove(voiture._id)"><img src="images/delete.png"></button>
           
            
                <button type="button" class="icon" ng-click="edit(voiture._id)"><img src="images/draw.png"></button>
           
        </div>

    </div>



    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
    <!-- declaration des controllers -->
    <script src="public/app.js"></script>
    <script src="public/controllers/voitureController.js"></script>
</body>

</html>