.divimage{
    width: 15em;
    height: 11em;
    display: block;
    padding: 1em;
    border: 1px groove ;
    background-color: aliceblue;
    margin: 0.5em;
    font-size: 22px;
    font-family: sans-serif;
    font-style: oblique;
}
.image{
    width: 8em;
    height: 5em;
    border: 1px groove ;
    margin: 0.8em;
}
body{
    background-color: azure;
}
.icon{
    display: inline-block;
    background-color: transparent;
    border: none;
}